// Base colors

$color-red: #e20019;
$color-green: #46b293;
$color-grey: #f1f1f1;
$color-black: #1a171b;
$color-blue: #5388c2;
$color-marine: #0f5169;
$color-orange: #ea690a;
$color-white: #ffffff;

$color-altmarine: #28505a;
$color-lightmarine: lighten($color-marine, 5%);

$complementary: (
	grey: (
		base: $color-grey
	),
	lightblue: (
		base: lighten($color-blue, 40%)
	),
	blue: (
		base: $color-blue
	),
	white: (
		base: $color-white
	),
	black: (
		base: $color-black
	),
	red: (
		base: $color-red
	),
	green: (
		base: $color-green
	),
	marine: (
		base: $color-marine
	)
);

$colors: (
	primary: (
		base: $color-orange,
		dark: darken($color-orange, 10%),
		light: lighten($color-orange, 10%),
		textcolor: $color-white
	),
	secondary: (
		base: $color-marine,
		dark: darken($color-marine, 10%),
		light: lighten($color-marine, 10%),
		textcolor: $color-white
	),
	default: (
		base: $color-blue,
		dark: darken($color-blue, 10%),
		light: lighten($color-blue, 10%),
		textcolor: $color-white
	),
	success: (
		base: $color-green,
		dark: darken($color-green, 10%),
		light: lighten($color-green, 10%),
		textcolor: $color-white
	),
	error: (
		base: $color-red,
		dark: darken($color-red, 10%),
		light: lighten($color-red, 10%),
		textcolor: $color-white
	),
	info: (
		base: lighten($color-blue, 40%),
		dark: darken(lighten($color-blue, 40%), 10%),
		light: lighten(lighten($color-blue, 40%), 10%),
		textcolor: $color-black
	),
	link: (
		base: $color-blue,
		dark: darken($color-blue, 10%),
		light: lighten($color-blue, 10%)
	)
);
