// Base colors

$color-red: #e20019 !default;
$color-green: #46b293 !default;
$color-grey: #f1f1f1 !default;
$color-black: #1a171b !default;
$color-blue: #5388c2 !default;
$color-marine: #0f5169 !default;
$color-orange: #ea690a !default;
$color-white: #ffffff !default;

$colors: (
	grey: (
		base: $color-grey
	),
	lightblue: (
		base: lighten($color-blue, 40%)
	),
	blue: (
		base: $color-blue
	),
	white: (
		base: $color-white
	),
	black: (
		base: $color-black
	),
	red: (
		base: $color-red
	),
	green: (
		base: $color-green
	),
	marine: (
		base: $color-marine
	)
) !default;

$styles: (
	primary: (
		base: $color-orange,
		dark: darken($color-orange, 10%),
		light: lighten($color-orange, 10%),
		textcolor: $color-white
	),
	secondary: (
		base: $color-marine,
		dark: darken($color-marine, 10%),
		light: lighten($color-marine, 10%),
		textcolor: $color-white
	),
	default: (
		base: $color-blue,
		dark: darken($color-blue, 10%),
		light: lighten($color-blue, 10%),
		textcolor: $color-white
	),
	success: (
		base: $color-green,
		dark: darken($color-green, 10%),
		light: lighten($color-green, 10%),
		textcolor: $color-white
	),
	error: (
		base: $color-red,
		dark: darken($color-red, 10%),
		light: lighten($color-red, 10%),
		textcolor: $color-white
	),
	info: (
		base: lighten($color-blue, 40%),
		dark: darken(lighten($color-blue, 40%), 10%),
		light: lighten(lighten($color-blue, 40%), 10%),
		textcolor: $color-black
	),
	link: (
		base: none,
		dark: darken($color-blue, 10%),
		light: lighten($color-blue, 10%),
    textcolor: $color-blue
	)
) !default;
