// Common

$global-radius: 3px !default;
$global-rounded: 40px !default;
$global-circle: 100% !default;
$global-shadow: rgba(0,0,0,0.16) !default;
$global-border-color: #d6d6d6 !default;
$global-padding: 20px !default;
$global-margin: 20px !default;

// Grid

$total-columns: 12 !default;
$gutter: 10px !default;

// Type

$font-family-base: 'Open Sans', sans-serif !default;
$line-height-base: 1.5 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 600 !default;
$heading-font-weight-base: 500 !default;

$font-size-min: 15px !default;
$font-size-base: 16px !default;
$h1-min: 32px !default;
$h1-max: 28px !default;
$h2-min: 21px !default;
$h2-max: 24px !default;
$h3-min: 18px !default;
$h3-max: 21px !default;
$h4-min: 16px !default;
$h4-max: 18px !default;
$font-size-small-min: 13px !default;
$font-size-small: 14px !default;

// Rem-base

$rem-base: $font-size-base !default;

$list-padding: 8px !default;

// Breakpoints

$breakpoints: (
  xxlarge  : ( 1600px ),
  xlarge  : ( 1300px ),
  large  : ( 1200px ),
  medium : ( 992px ),
  small  : ( 768px ),
  xsmall  : ( 480px )
);

$container-xs: 480px !default;
$container-sm: 640px !default;
$container-md: 940px !default;
$container-lg: 1080px !default;

// Prefixes

$component-prefix: null !default;
$layout-prefix: null !default;
$grid-prefix: null !default;
$base-prefix: null !default;
$utility-prefix: null !default;
$animation-prefix: null !default;

$icon-path: "../img/svgicons/" !default;
$icon-size: 24px !default;

$inline-sizes: (
  xs: (
    padding: 4px 6px,
    height: auto,
    font-size: $font-size-base - 0.02,
  ),
  sm: (
    padding: 7px 12px,
    height: auto,
    font-size:$font-size-base - 0.02,
  ),
  md: (
    padding: 8px 14px,
    height: auto,
    font-size:$font-size-base,
  ),
  lg: (
    padding: 10px 16px,
    height: auto,
    font-size:$font-size-base * 1.3,
  ),
);

// Ui

$sidebar-width: 220px !default;
$panel-width: 20rem !default;
$topbar-height: 44px !default;
$bottombar-height: 44px !default;
$depth-levels: 10;

// Animations

$animation-duration: 0.3s !default;
$animation-timing: ease-in !default;
