// Common

$global-radius: 3px !default;
$global-rounded: 40px !default;
$global-circle: 100% !default;
$global-shadow: rgba(0,0,0,0.16) !default;
$global-border-color:#d6d6d6 !default;
$global-padding:1rem !default;
$global-margin:1rem !default;

// Grid

$total-columns: 12 !default;
$gutter: 1rem !default;

// Rem-base

$rem-base: 16px !default;

// Type

$font-family-base:'Open Sans', sans-serif !default;
$line-height-base:1.5 !default;
$font-size-base:0.85rem !default;
$font-weight-base: 400 !default;
$font-weight-bold: 600 !default;
$heading-font-weight-base: 500 !default;

$list-padding: 0.6rem !default;

// Breakpoints

$breakpoints: (
  xxlarge  : ( 1600px ),
  xlarge  : ( 1300px ),
  large  : ( 1200px ),
  medium : ( 992px ),
  small  : ( 768px ),
  xsmall  : ( 480px )
);

$container-xs: 480px !default;
$container-sm: 640px !default;
$container-md: 940px !default;
$container-lg: 1080px !default;

// Prefixes

$component-prefix: null !default;
$layout-prefix: null !default;
$grid-prefix: null !default;
$base-prefix: null !default;
$utility-prefix: null !default;
$animation-prefix: null !default;

$icon-path: "../img/svgicons/" !default;
$icon-size: 24px !default;

$inline-sizes: (
  xs: (
    padding: 0.2rem 0.4rem,
    height: auto,
    font-size:$font-size-base - 0.02,
  ),
  sm: (
    padding: 0.35rem 0.8rem,
    height: auto,
    font-size:$font-size-base - 0.02,
  ),
  md: (
    padding: 0.5rem 0.9rem,
    height: auto,
    font-size:$font-size-base,
  ),
  lg: (
    padding: 1rem 2rem,
    height: auto,
    font-size:$font-size-base * 1.3,
  ),
);

// Ui

$sidebar-width:14rem !default;
$toolbar-width:4rem !default;
$toolbar-opened:25rem !default;
$header-height:4rem !default;
$sm-nav-height:3rem !default;
$panel-width:20rem !default;
$topbar-height:3.5rem !default;
$bottombar-height:3.5rem !default;
$depth-levels: 10;

$ui: (
  dark: (
    base: $color-secondary,
    dark: darken($color-secondary, 3%),
    light: lighten($color-secondary, 5%),
  ),
  light: (
    base: $color-grey,
    dark: darken($color-grey, 10%),
    light: #fff,
  ),
);

// Animations

$animation-duration: 0.3s !default;
$animation-timing: ease-in !default;
