// Common

$global-radius: 3px !default;
$global-rounded: 40px !default;
$global-circle: 100% !default;
$global-shadow: rgba(0,0,0,0.1) !default;
$global-border-color: $color-grey !default;
$global-padding: 20px !default;
$global-margin: 20px !default;

// Grid

$total-columns: 12 !default;
$gutter: 10px !default;

// Type

$font-family-base: 'Open Sans', sans-serif !default;
$line-height-base: 1.5 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 600 !default;
$heading-font-weight-base: 500 !default;

$font-size-lg: 1.7rem !default;
$font-size-base: 1.5rem !default;
$font-size-xs: 1.3rem !default;

$h1: 3.2rem !default;
$h2: 2.4rem !default;
$h3: 1.8rem !default;
$h4: 1.6rem !default;

// Breakpoints

$breakpoints: (
  xxlarge  : ( 1600px ),
  xlarge  : ( 1300px ),
  large  : ( 1200px ),
  medium : ( 992px ),
  small  : ( 768px ),
  xsmall  : ( 480px )
);

$container-xs: 480px !default;
$container-sm: 640px !default;
$container-md: 940px !default;
$container-lg: 1180px !default;

// Prefixes

$layout-prefix: null !default;
$grid-prefix: null !default;
$base-prefix: null !default;
$utility-prefix: null !default;

$icon-path: "../img/svgicons/" !default;
$icon-size: 24px !default;

$inline-size-xs: 4px 6px;
$inline-size-sm: 6px 12px;
$inline-size-md: 8px 14px;
$inline-size-lg: 12px 20px;

// z-index levels
$depth-levels: 10;


