/*
##Bottom bar
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}bottombar {
  padding: $global-padding / 2 $global-padding;
  background-color: $color-white;
  flex-shrink: 0;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 2;
  min-height: $bottombar-height;
  flex-wrap: nowrap;
  border-top: 1px solid $global-border-color;
  box-shadow: 0 0 2px 0 $global-shadow;
}

.#{$layout-prefix}bottombar + .#{$layout-prefix}bottombar {
  border-bottom: 1px solid $global-border-color;
}

.#{$layout-prefix}bottombar--out {
  transition: margin-bottom 300ms ease-in, opacity 300ms ease-in;
  margin-top: -($bottombar-height);
  opacity: 0;
}

.#{$layout-prefix}bottombar--in {
  transition: margin-bottom 300ms ease-in, opacity 300ms ease-in;
  margin-top: 0;
  opacity: 1;
}
