/*
##Flow nav
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}flow-nav {
  flex-shrink: 1;
  z-index: 10;
  background-color: map-deep-get($ui, "dark", base);
  @include breakpoints(max-width, medium) {
    display: none;
  }
}

.#{$layout-prefix}flow-nav--visible {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.#{$layout-prefix}flow-line {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 28px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
    background: map-deep-get($ui, "dark", light);
  }
}

.#{$layout-prefix}flow-masker {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  @extend %scrollable-content-x;
  flex: 1;
}

.#{$layout-prefix}flow-container {
  margin: 0 auto;
  flex-direction: row;
  display: flex;
}

.#{$layout-prefix}flow-nav-description {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  box-shadow: 1px 0 8px 0 rgba(0,0,0,0.3);
  background-color: map-deep-get($ui, "dark", light);
  z-index: 2;
}

.#{$layout-prefix}flow-next,
.#{$layout-prefix}flow-prev {
  position: relative;
  min-width: 1rem;
  z-index: 2;
  background-color: map-deep-get($ui, "dark", light);
  display: flex;
  min-width: 30px;
  padding: 0.5rem;
  align-items: center;
}

.#{$layout-prefix}flow-next {
  box-shadow: -1px 0 8px 0 rgba(0,0,0,0.3);
}
.#{$layout-prefix}flow-prev {
  box-shadow: 1px 0 8px 0 rgba(0,0,0,0.3);
}

.#{$layout-prefix}flow-nav-step {
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  min-width: 200px;
  a {
    color: #999;
    display: inline-block;
    padding: 1rem 2rem;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.#{$layout-prefix}flow-nav-step--selected {
  .#{$layout-prefix}flow-nav-number {
    background: $color-success;
    color: #fff;
    border: 2px solid $color-success;
  }
  a {
    color: #fff;
  }
}

.#{$layout-prefix}flow-nav-number {
  border-radius: $global-circle;
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-weight: bold;
  display: inline-block;
  background: map-deep-get($ui, "dark", base);
  border: 2px solid map-deep-get($ui, "dark", light);
}

.#{$layout-prefix}flow-nav-title {
  margin-top: 0.5rem;
}
