.close-focus-mode {
  display: none;
  .focus-mode & {
    display: inline-flex;
  }
}

.focus-mode .#{$component-prefix}panel {
  top: 0;
}

.focus-mode .#{$layout-prefix}sidebar,
.focus-mode .#{$layout-prefix}sm-nav {
  display: none;
}
