.#{$layout-prefix}header {
	display: flex;
	flex: 0 0 auto;
}

.#{$layout-prefix}header-navigation {
	background-color: map-deep-get($ui, "dark", base);
	height: $header-height;
	display: flex;
	color: #fff;
	flex: 1 1 auto;
	font-weight: 600;
	max-width: 100%;
	min-width: 0;
}

.#{$layout-prefix}header-logo {
	display: flex;
	align-items: center;
	padding: 0 $global-padding;
	flex: 0 0 auto;
}

.#{$layout-prefix}mobile-nav {
	padding: 0 $global-padding / 2;
	flex: 1 0 auto;
	height: $header-height;
	display: none;
	
	@include breakpoints(max-width,medium) {
		display: flex;
	}
}

.#{$layout-prefix}mobile-nav-item {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0 $global-padding / 2;
	flex: 0 0 auto;
}

.#{$layout-prefix}header-nav {
	display: flex;
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
	
	@include breakpoints(max-width, medium) {
		opacity: 0;
		flex: 0 0 auto;
		position: absolute;
		bottom: $header-height;
		left: 0;
		right: 0;
		background: #fff;
		color: #333;
		height: auto;
		max-height: calc(100vh - #{$header-height});
		flex-direction: column;
		padding: $global-padding / 2 $global-padding;
		box-shadow: 0 2px 5px 0 $global-shadow;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.#{$layout-prefix}header-nav-item {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0 $global-padding / 2;
	flex: 0 1 auto;
	min-width: 0;
	min-height: 0;
	
	@include breakpoints(max-width, medium) {
		padding: $global-padding / 2 0;
		flex: 0 0 auto;
	}
}

.#{$layout-prefix}header-nav-link {
	color: inherit;
	display: block;
	flex: 0 1 auto;
	min-width: 0;
	min-height: 0;
	@include text-overflow;
}

.#{$layout-prefix}header-nav-link--selected {
	color: $color-primary;
}

.#{$layout-prefix}header-select {
	position: relative;
	
	select {
		display: inline-block;
		appearance: none;
		background: transparent;
		border: 0;
		outline: 0;
		width: 2.5rem;
		height: 2.5rem;
		padding-left: 2.5rem;
		overflow: hidden;
		cursor: pointer;
	}
}

.#{$layout-prefix}header-select::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(#{$icon-path}chevron-down-white.svg);
	background-position: center center;
	background-repeat: no-repeat;
	pointer-events: none;
	
	@include breakpoints(max-width, medium) {
		background-image: url(#{$icon-path}chevron-down.svg);
	}
}

.#{$layout-prefix}header-tools {
	flex: 0 0 auto;
	padding: 0 $global-padding / 2;
}

.#{$layout-prefix}header-tool {
	display: flex;
	align-items: center;
	padding: 0 $global-padding / 2;
	height: $header-height;
	border-radius: $global-radius;
}

.#{$layout-prefix}header-settings {
	display: flex;
	padding: 0 $global-padding;
	align-items: center;
	cursor: pointer;
	background: lighten($color-secondary, 5%);
}

.#{$layout-prefix}header-settings-name {
	@include text-overflow;
	max-width: 10rem;
}