/*
##Header
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}logo {
  display: flex;
  align-items: center;
  height: $header-height;
  &:hover {
    background: darken($color-secondary, 5%);
  }
}

.#{$layout-prefix}toggle-mobile-nav {
  display: none;
  @include breakpoints(max-width,medium) {
    display: block;
  }
}

.#{$layout-prefix}header {
  background-color: map-deep-get($ui, "dark", base);
  align-items: center;
  height: $header-height;
  display: flex;
  color: #fff;
  position: relative;
}

.#{$layout-prefix}header-navigation {
  display: flex;
  align-items: center;
  flex: 1;
}

.#{$layout-prefix}header-nav {
  display: flex;
  align-items: center;
  flex: 1;
  @include breakpoints(max-width, medium) {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99;
  }
}

.#{$layout-prefix}header-nav-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url(#{$icon-path}chevron-right-white.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px 12px;
  &:last-child {
    background: none;
  }
  .header-dropdown {
    margin: 0;
  }
  @include breakpoints(max-width, medium) {
    display: block;
    color: #333;
    font-size: $font-size-base * 1.2;
    position: relative;
    .header-dropdown {
      position: absolute;
      right: $global-margin;
      top: $global-margin / 2;
    }
  }
}

.#{$layout-prefix}header-nav-link {
  padding: $global-padding / 2 $global-padding;
  display: block;
  @include breakpoints(max-width, medium) {
    padding: 1rem;
  }
}

.#{$layout-prefix}header-nav-item--selected {
  color: $color-primary;
}

.#{$layout-prefix}header-tools {
  padding: 0 $global-padding / 2;
  display: flex;
}

.#{$layout-prefix}header-tool {
  padding: $global-padding / 3;
  border-radius: $global-radius;
}

.#{$layout-prefix}header-tool--selected {
  padding: $global-padding / 3;
  background-color: lighten($color-secondary, 10%);
}

.#{$layout-prefix}header-settings {
  display: flex;
  height: $header-height;
  padding: $global-padding / 2 $global-padding;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover {
    background: lighten($color-secondary, 5%);
  }
}

.#{$layout-prefix}header-settings--selected {
  background: lighten($color-secondary, 10%);
}

.#{$layout-prefix}header-settings-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.#{$layout-prefix}mobile-nav {
  padding: $global-padding / 3;
  margin-left: $global-margin / 3;
  flex: 1;
}
