/*
##Page header
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}page-header {
  background: $color-white;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.#{$layout-prefix}page-header-inner {
  padding: 2rem 0;
}

.#{$layout-prefix}page-header-overlay {
  background: linear-gradient(to bottom, rgba(red($color-altmarine), green($color-altmarine), blue($color-altmarine), 0.4) 0%, rgba(red($color-black), green($color-black), blue($color-black), 1) 100%);
  color: $color-white;
}
