/*
##Sidebar
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  flex-basis: $sidebar-width;
  border-right: 1px solid $global-border-color;
  position: relative;
  z-index: 3;
  margin-left: 0;
  opacity: 1;
  transition: margin-left 250ms ease;
  @include breakpoints(max-width,medium) {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
  }
}

.#{$layout-prefix}sidebar--visible {
  display: flex;
}

.#{$layout-prefix}sidebar--shrink {
  @extend .flex-shrink;
  flex-basis: auto;
}
