/*
##Sidebar
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  flex-basis: $sidebar-width;
  border-right: 1px solid $global-border-color;
  position: relative;
  z-index: 3;
  @include breakpoints(max-width, medium) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 100%;
    opacity: 0;
    z-index: 9999;
  }
}

.#{$layout-prefix}sidebar--opener {
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  z-index: 99;
  background-image: url(#{$icon-path}chevron-right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  background-color: rgba(54, 142, 216, .3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  &:hover {
    border-right: 1px solid rgba(54, 142, 216, .8);
  }
}
