/*
##Small screen navigation
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}sm-nav {
  display: flex;
  align-items: center;
  color: $color-white;
  min-height: $sm-nav-height;
  @include breakpoints(min-width, medium) {
    display: none;
  }
  @include breakpoints(max-width, medium) {
    flex: 0 1 auto;
    display: flex;
  }
  background: $color-black;
}
