/*
##Small screen navigation
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}sm-nav {
  display: flex;
  align-items: center;
  color: #fff;
  min-height: $sm-nav-height;
  @include breakpoints(min-width, small) {
    display: none;
  }
  @include breakpoints(max-width,small) {
    flex: 0 1 auto;
    display: flex;
  }
  background: map-deep-get($ui,"dark",dark);
}
