/*
##Toolbar
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}toolbar {
  flex-basis: 25rem;
  margin-right:-21rem;
  display: flex;
  box-shadow: -2px 0px 12px 0px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
  transition: margin-right 250ms ease;
  @include breakpoints(max-width,small) {
    margin-right: -25rem;
  }
}

.#{$layout-prefix}toolbar-icon {
  text-align: center;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
  &--selected {
    background-color: map-deep-get($ui, "light", base);
  }
}

.#{$layout-prefix}toolbar-close {
  cursor: pointer;
}

.#{$layout-prefix}toolbar-icon-title {
  margin-top: 0.2rem;
  font-size: $font-size-base - 0.1;
}

.#{$layout-prefix}toolbar-content {
  display: none;
  flex: 1;
}

.#{$layout-prefix}toolbar--visible {
  flex-basis: $toolbar-width;
}

.#{$layout-prefix}toolbar--opened {
  .#{$layout-prefix}toolbar {
    margin-right: 0;
    @include breakpoints(max-width,small) {
      margin-right: -21px;
    }
  }
  @include breakpoints(max-width,large) {
    .#{$layout-prefix}sidebar {
      margin-left: -13rem;
      box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.15);
      cursor: pointer;
      transition: margin-left 100ms ease-in;
      position: relative;
      background-image: url(#{$icon-path}chevron-right.svg);
      background-repeat: no-repeat;
      background-position: right 2px center;
      background-size: 12px 12px;
      &:after {
        content: "";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0px;
        background-image: url(#{$icon-path}chevron-right.svg);
        background-repeat: no-repeat;
        background-position: right 2px center;
        background-size: 12px 12px;
        background-color: rgba($color-blue,0.3);
        border-right: 1px solid rgba($color-blue, 0.8);
        animation: fadeOut 4s ease-in-out 1 forwards;
      }
      &:hover {
        background-color: rgba($color-blue,0.3);
        border-right: 1px solid rgba($color-blue, 0.8);
      }
    }
  }
  .#{$layout-prefix}toolbar-content {
    display: flex;
    flex-direction: column;
    @include breakpoints(max-width,small) {
      position: fixed;
      left: 0px;
      top: $header-height;
      right: $toolbar-width;
      bottom: $sm-nav-height;
      background: #fff;
      z-index: 99;
    }
  }
}

.#{$layout-prefix}toolbar-icons {
  flex-basis: 4rem;
  border-right: 1px solid $global-border-color;
}

.#{$layout-prefix}toolbar-section {
  display: none;
  padding: $global-padding;
  flex: 1;
}

.#{$layout-prefix}toolbar-section--visible {
  display: block;
}
