/*
##Toolbar
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}toolbar {
  width: $toolbar-opened;
  margin-right: -($toolbar-opened - $toolbar-width);
  display: flex;
  box-shadow: -2px 0px 12px 0px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
  @include breakpoints(max-width, medium) {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    margin: 0;
    background: #fff;
  }
}

.#{$layout-prefix}toolbar-close {
  display: none;
}

.#{$layout-prefix}toolbar-icon {
  text-align: center;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
  &--selected {
    background-color: map-deep-get($ui, "light", base);
  }
}

.#{$layout-prefix}toolbar-icons {
  flex-basis: 4rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid $global-border-color;
}

.#{$layout-prefix}toolbar-icon-title {
  margin-top: 0.2rem;
  font-size: $font-size-base - 0.1;
}

.#{$layout-prefix}toolbar-close {
  cursor: pointer;
}

.#{$layout-prefix}toolbar-content {
  flex: 1;
}

.#{$layout-prefix}toolbar--visible {
  flex-basis: $toolbar-width;
}

.#{$layout-prefix}toolbar-section {
  display: none;
  flex: 1;
}

.#{$layout-prefix}toolbar-section--visible {
  display: flex;
  flex-direction: column;
}
