/*
##Top bar
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$layout-prefix}topbar {
  padding: $global-padding / 2 $global-padding;
  background-color: $color-white;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
  min-height: $topbar-height;
  z-index: 2;
  flex-wrap: nowrap;
  border-bottom: 1px solid $global-border-color;
  box-shadow: 0 1px 4px 0 $global-shadow;
}

.#{$layout-prefix}topbar .#{$layout-prefix}topbar-item {
  margin-right: $global-margin / 2;
  &:last-child {
    margin-right: 0;
  }
}

.#{$layout-prefix}topbar--out {
  transition: margin-top 300ms ease-in, opacity 300ms ease-in;
  margin-top: -($topbar-height);
  opacity: 0;
}

.#{$layout-prefix}topbar--in {
  transition: margin-top 300ms ease-in, opacity 300ms ease-in;
  margin-top: 0;
  opacity: 1;
}
