/*
##Alerts
  Description
```
Markup
```
*/
%#{$component-prefix}alert {
  padding: map-deep-get($inline-sizes, "sm", padding);
  border-width: 1px;
  border-left-width: 5px;
  border-style: solid;
  background-color: $color-blue;
  border-radius: $global-radius;
  vertical-align: middle;
}

@each $name, $palette in $colors {
  .#{$component-prefix}alert-#{$name} {
    @extend %#{$component-prefix}alert;
    background:  palette($name);
    border-color: palette($name,base);
    border-left-color: palette($name,dark);
    color:  palette($name,textcolor);
  }
}
