.#{$component-prefix}attention {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:  999;
  display: none;
}

.#{$component-prefix}attention--visible {
  display: block;
}

@each $name, $palette in $colors {
.#{$component-prefix}attention-#{$name} .#{$component-prefix}attention-content {
    border-left: 5px solid palette($name);
  }
}

.#{$component-prefix}attention-wrapper {
  height: 100%;
  display: flex;
  justify-content:  center;
  align-items:  center;
}

.#{$component-prefix}attention-content {
  align-items:  center;
  padding: $global-padding;
  border-radius:  $global-radius;
  background: $color-white;
  box-shadow:  0 0 8px 0 $global-shadow;
}
