/*
##Blocks
```
<div class="card"></div>
```
## Parts
```
<div class="card">
  <div class="card-heading">
    Heading
  </div>
  <div class="card-content">
    Content
  </div>
  <div class="card-footer">
    Fotter
  </div>
</div>
```
*/

.#{$component-prefix}card-section {
  background-color: #fff;
  border-bottom: 1px solid $global-border-color;
}

.#{$component-prefix}card-area {
  padding: $global-padding 0;
  background-color: $color-grey;
}

.#{$component-prefix}card {
  background-color: #fff;
  border-radius: $global-radius;
  margin-bottom: $global-margin;
  border: 1px solid $global-border-color;
  position: relative;
  display: block;
  img {
    @extend %img-responsive;
  }
  .#{$component-prefix}card-figure {
    margin: -1px -1px 0px -1px;
  }
  .#{$component-prefix}card-figure img {
    border-radius: $global-radius $global-radius 0 0;
  }
  &--clickable {
    cursor: pointer;
    &:active {
      box-shadow: 0px 0px 12px 0px rgba($color-blue, 0.3);
    }
  }
}

.#{$component-prefix}card-content,
.#{$component-prefix}card-header,
.#{$component-prefix}card-footer {
  padding: $global-padding;
  @include breakpoints(max-width,xsmall) {
    padding: 0.8rem ($global-padding);
  }
}

.#{$component-prefix}card-header {
  border-bottom: 1px solid $global-border-color;
  h1,h2,h3 {
    &:first-child {
      margin: 0;
    }
  }
}

.#{$component-prefix}card-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.#{$component-prefix}card-content {
  h1,h2,h3 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.#{$component-prefix}card-footer {
  @include clearfix();
  margin-top: -1px; // Nudge to hide bottom border on elements before
  border-top: 1px solid $global-border-color;
}

.#{$component-prefix}card-list-item {
  padding: $global-padding;
  border-bottom: 1px solid $global-border-color;
  display: flex;
  align-items: center;
  min-height: 40px;
  &:last-child {
    border: 0;
  }
}

.#{$component-prefix}card-list-nested-item {
  display: flex;
  padding-left: $global-margin;
  flex-direction: column;
  border-bottom: 1px solid $global-border-color;
}

.#{$component-prefix}card-list-content {
  flex: 1;
}

.#{$component-prefix}card-list-object {
  flex-shrink: 0;
  margin-right: $global-margin / 2;
}

.#{$component-prefix}card-image-aligned {
  display: flex;
  flex-direction: row;
  .#{$component-prefix}card-figure img {
    border-radius: $global-radius  0 $global-radius 0;
    @extend %img-responsive;
  }
  @include breakpoints(max-width,small) {
    flex-direction: column;
  }
  .#{$component-prefix}card-figure {
    flex: 1;
  }
  .#{$component-prefix}card--aligned {
    flex: 1;
  }
}

.#{$component-prefix}card-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $global-border-color;
}

.#{$component-prefix}card-cell {
  border-right: 1px solid $global-border-color;
  padding: $global-margin / 2 $global-margin;
}

.#{$component-prefix}paper {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  padding: $global-padding * 2;
  @include breakpoints(max-width, small) {
    padding: $global-padding;
  }
}
