/*
##Drawer
```
<div class="drawer"></div>
```
*/

.#{$component-prefix}drawer-wrapper {
  position: relative;
}

.#{$component-prefix}drawer-down {
  @include breakpoints(min-width, small) {
    position: absolute;
    top: 90%;
    :after {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}

.#{$component-prefix}drawer-up {
  @include breakpoints(min-width, small) {
    position: absolute;
    bottom: 110%;
    :after {
      top: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}

.#{$component-prefix}drawer {
  display: none;
  min-width: 280px;
  background: #fff;
  border-radius: $global-radius;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  z-index: 2;
  pointer-events: none;
  @include breakpoints(max-width, small) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.#{$component-prefix}drawer-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $global-border-color;
  padding: $global-padding;
  font-weight: $font-weight-bold;
}

.#{$component-prefix}drawer--visible {
  pointer-events: all;
  display: block;
}

.#{$component-prefix}drawer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 60vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.#{$component-prefix}drawer-list-item {
  border-bottom: 1px solid $global-border-color;
  padding: $global-padding;
}

.#{$component-prefix}drawer-list-item--selected {
  @extend .#{$component-prefix}drawer-list-item;
  background: $color-grey url(#{$icon-path}check.svg) no-repeat right $global-margin center;
  &:first-child {
    border-radius: $global-radius $global-radius 0 0;
  }
  &:last-child {
    border-radius: 0 0 $global-radius $global-radius;
  }
}
