/*
###Dropdown
  Description
```
Markup
```
*/


.#{$component-prefix}dropdown-toggle {
  border-radius: $global-radius;
  flex-shrink:  0;
  margin-left: 0.3rem;
  width: 28px;
  height: 28px;
  background-image:  url(../img/svgicons/chevron-down-white.svg);
  background-repeat:  no-repeat;
  background-position:  center center;
  background-color: lighten($color-secondary,10%);
  position:  relative;
  cursor:  pointer;
}

.#{$component-prefix}dropdown-toggle--selected {
  box-shadow: rgba(0,0,0,0.4);
  background-color: lighten($color-secondary,20%);
}

.#{$component-prefix}dropdown {
  box-shadow: 0 1px 4px 0 $global-shadow;
  position: absolute;
  display: none;
  background: #fff;
  border-radius: $global-radius;
  margin: 0.2rem 2px 0 2px;
  padding: $global-padding;
  min-width: 9rem;
  max-width: 12rem;
  top: 100%;
  left: 0;
  text-align:  left;
  z-index: 999;
  ul {
    margin: -($global-margin);
    padding: 0;
    list-style:  none;
  }
  li {
    border-top: 1px solid $global-border-color;
    &:first-child {
      border: 0;
    }
  }
  li a {
    color: #333;
    display: block;
    padding: ($global-padding / 1.5) $global-padding;
    &:hover {
      background-color: map-deep-get($ui, "light", base);
    }

  }
  @include breakpoints(max-width,small) {
    left: 0;
    right: 0;
    width: 100%;
    z-index:  1000;
  }
}

.#{$component-prefix}dropdown--visible {
  display: block;
}
