/*
###Editables
  Description
```
Markup
```
*/

.#{$component-prefix}inline-editable {
  display: inline-block;
  min-width: 25px;
  min-height: $font-size-base * 2;
  vertical-align: top;
  border-bottom: 2px solid $color-default;
}

.#{$component-prefix}drag-objects {
  display:flex;
  align-items: center;
  overflow:hidden;
  overflow-x: scroll;
  padding:$global-padding / 2;
  border:1px solid $global-border-color;
  border-radius: $global-radius;
  box-shadow:inset 0 0 4px 0 $global-shadow;
  .drag-object {
    margin:0 0.3rem;
  }
}

.#{$component-prefix}drag-sort-row {
  margin-bottom:$global-margin / 2;
}

.#{$component-prefix}drag-object {
  flex-shrink: 0;
  cursor:grab;
  display:inline-block;
  border-radius: $global-radius;
  border:1px solid $global-border-color;
  vertical-align:middle;
  background:#fff;
  padding:map-deep-get($inline-sizes, "sm", padding);
  padding-left:$icon-size + 10;
  background:#fff url(#{$icon-path}drag.svg) no-repeat 5px center;

}

.#{$component-prefix}drag-dropzone {
  border-radius: $global-radius;
  background-color:$color-info;
  display: inline-block;
  padding:0.2rem;
  min-width: 80px;
  vertical-align: middle;
  min-height: $font-size-base * 3;
}
