.#{$component-prefix}help-ruler {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  pointer-events: none;
  display: none;
}

.#{$component-prefix}help-ruler-close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;
  border-radius: $global-circle;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.#{$component-prefix}help-ruler-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.#{$component-prefix}help-ruler-viewer {
  height: 60px;
  flex-shrink: 0;
  position: relative;
  pointer-events: none;
}

.#{$component-prefix}help-ruler-viewer--move {
  background: rgba($color-white,0.8) url(/assets/digicons/drag.svg) no-repeat center center;
  cursor: move;
  pointer-events: all;
  position: relative;
}

.#{$component-prefix}help-ruler-viewer--resize {
  cursor: move;
  pointer-events: all;
  position: relative;
  &:after {
    position: absolute;
    top: -60px;
    height: 24px;
    width: 100%;
    content: "";
    background: url(/assets/digicons/arrow-up-white.svg) no-repeat center center;
  }
  &:before {
    position: absolute;
    bottom: -60px;
    height: 24px;
    width: 100%;
    content: "";
    background: url(/assets/digicons/arrow-down-white.svg) no-repeat center center;
  }
}

.#{$component-prefix}help-ruler-shade {
  background: rgba(0,0,0,0.7);
  flex: 1 1 auto;
}

.#{$component-prefix}help-ruler--visible {
  display: block;
}

.#{$component-prefix}help-ruler-settings {
  position: absolute;
  right: 10px;
  bottom: -44px;
  pointer-events: auto;
}

.#{$component-prefix}help-ruler-setting {
  display: none;
  padding: 10px;
  cursor: move;
  text-align: center;
  @include breakpoints(min-width,small) {
    display: block;
  }
}

.#{$component-prefix}help-ruler-sm-settings {
  display: flex;
  position: absolute;
  top: 12px;
  left: 10px;
  color: $color-white;
  pointer-events: auto;
  @include breakpoints(min-width,small) {
    display: none;
  }
}

.#{$component-prefix}help-ruler-sm-setting {
  margin-right: 0.5rem;
}
