/*
###Badges
  Description
```
Markup
```
*/
%#{$component-prefix}badge {
  padding: 3px 8px;
  display: inline-block;
  background-color: $color-blue;
  border-radius: $global-radius;
  
  .inverted & {
    background-color: darken($color-blue, 30%);
    color: white;
  }
}

.#{$component-prefix}badge-small {
  padding: 2px 5px;
  font-size: $font-size-base * 0.9;
}

.#{$component-prefix}badge-rounded {
  @extend %#{$component-prefix}badge;
  border-radius: $global-rounded;
}

.#{$component-prefix}badge-outline {
  @extend %#{$component-prefix}badge;
  background: $color-white;
  border: 1px solid $global-border-color;
}

@each $name, $palette in $colors {
.#{$component-prefix}badge-#{$name} {
    @extend %#{$component-prefix}badge;
    background-color: palette($name);
    border-color: palette($name,dark);
    color: palette($name,textcolor);
  }
}
