.#{$component-prefix}lightbox {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: $global-padding;
	background-color: rgba(red($color-black), green($color-black), blue($color-black), 0.8);
	opacity: 0;
	z-index: 999;
}

.#{$component-prefix}lightbox-frame {
	flex: 0 1 auto;
	display: flex;
	min-width: 0;
	min-height: 0;
	position: relative;
	pointer-events: all;
	box-shadow: 0 0 6px 0 $global-shadow;
	align-items: center;
	flex-direction: column;
}

.#{$component-prefix}lightbox-content {
	flex: 0 1 auto;
	min-width: 0;
	min-height: 0;
	z-index: 1;
}

.#{$component-prefix}lightbox-scrollable {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.#{$component-prefix}lightbox-button {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 1.25rem;
	background-color: white;
	cursor: pointer;
	z-index: 2;
	box-shadow: 0 0 6px 0 $global-shadow;
}

.#{$component-prefix}lightbox-close {
	top: -1rem;
	right: -1rem;
}

.#{$component-prefix}lightbox-loading {
	background-color: white;
	border-radius: 3px;
	width: 4rem;
	height: 4rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	flex: 0 0 auto;
	cursor: pointer;
}

.#{$component-prefix}lightbox-text {
	background-color: $color-white;
	padding: 1rem;
	max-width: 40rem;
	min-width: 18rem;
	border-radius: $global-radius;
	
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.#{$component-prefix}lightbox-media {
	max-height: calc(100vh - 2rem);
	max-width: calc(100vw - 2rem);
	border-radius: $global-radius;
	background-color: $color-white;
}

.#{$component-prefix}lightbox-media--has-caption {
	max-height: calc(100vh - 4.5rem);
}

.#{$component-prefix}lightbox-figure {
	background-color: $color-white;
	border-radius: $global-radius;
	overflow: hidden;
}

.#{$component-prefix}lightbox-caption {
	display: block;
	padding: 0.5rem 1rem;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
}

.#{$component-prefix}lightbox-nav {
	position: absolute;
	top: 50%;
	width: 2.5rem;
	height: 2.5rem;
	margin-top: -1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-radius: 1.25rem;
	z-index: 2;
}

.#{$component-prefix}lightbox-nav--right {
	right: -1rem;
}

.#{$component-prefix}lightbox-nav--left {
	left: -1rem;
}