// Media list

.#{$component-prefix}media {
  display: flex;
  flex: 1;
  align-items:  center;
  padding: $global-padding / 2 0 $global-padding / 2 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.#{$component-prefix}media--selected {
  color: $color-default;
}

.#{$component-prefix}media-object {
  display: flex;
  padding: ($global-padding / 3) 0;
}

.#{$component-prefix}media-content {
  padding: 0 ($global-padding / 2);
  flex: 1;
  align-items:  center;
}

// Images

.#{$component-prefix}img-figure {
  position:  relative;
  display: inline-block;
  img {
    display:  block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 65vh;
  }
}

.#{$component-prefix}img-small {
  @include breakpoints(min-width, small) {
    max-width: 200px;
    max-height: 200px;
  }
}

// Wrapper class for positioning

.#{$component-prefix}img-figure--align-right {
  @include breakpoints(min-width, small) {
    float: right;
    margin: 0 0 $global-margin $global-margin;
  }
}

.#{$component-prefix}img-figure--align-left {
  @include breakpoints(min-width, small) {
    float: left;
    margin: 0 $global-margin $global-margin 0;
  }
}

.#{$component-prefix}img-figure--align-center {
  margin:0 auto $global-margin auto;
  display: block;
}

.#{$component-prefix}img-portrait {
  box-shadow:  0px 0px 4px 0px rgba(0,0,0,0.15);
  padding:  $global-padding;
  background: #fff;
  img {
    display:  block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 65vh;
  }
}

.#{$component-prefix}img-caption {
  font-size:  $font-size-base * 0.95;
  margin: $global-margin / 2 0;
  text-align: left;
}

.#{$component-prefix}img-gallery {
  position:  relative;
}

.#{$component-prefix}img-gallery-nav {
}

.#{$component-prefix}img-gallery-prev,
.#{$component-prefix}img-gallery-next {
  position:  absolute;
  top: 50%;
  margin-top: -20px;
  padding: 10px 12px;
  background: #fff;
  border-radius:  $global-circle;
}

.#{$component-prefix}img-gallery-prev {
  left: 20px;
}

.#{$component-prefix}img-gallery-next {
  right: 20px;
}

.#{$component-prefix}video-portrait {
  box-shadow:  0px 0px 4px 0px rgba(0,0,0,0.15);
  padding:  $global-padding;
  position:  relative;
  background: #fff;
}
