/*
##Nav
  Description
```

```
*/

.#{$component-prefix}nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.#{$component-prefix}nav-item {
  padding: $global-padding / 2 0;
}

.#{$component-prefix}nav-heading {
  padding: $global-padding 0 5px 0;
  margin-bottom: $global-padding / 2;
  font-weight: 700;
  font-size: $font-size-base * 0.95;
  flex-shrink: 0;
  text-transform: uppercase;
  border-bottom: 1px solid $global-border-color;
}

.#{$component-prefix}nav-link {
  display: block;
  .#{$component-prefix}nav-item--selected > & {
    color: $color-blue;
  }
}

.#{$component-prefix}nav-item-toggler {
  float: right;
  width: 24px;
  height: 24px;
  border-radius: $global-radius;
  background: $color-white url(#{$icon-path}/chevron-down.svg) no-repeat center center;
  border: 1px solid transparent;
  .#{$component-prefix}nav-dots-item--selected & {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    border: 1px solid $global-border-color;
  }
}

.#{$component-prefix}nav-inline {
  display: flex;
  flex-shrink: 0;
  margin: 10px 0;
  padding: 0;
  flex-wrap: wrap;
}

.#{$component-prefix}nav-inline-heading {
  @extend .#{$component-prefix}nav-heading;
  margin: 10px 0;
  padding: 0 15px 10px 15px;
  flex-basis: 100%;
}

.#{$component-prefix}nav-inline-item {
  margin: 10px 0 10px 10px;
  display: flex;
}

.#{$component-prefix}nav-inline-item--selected {
  border-radius: 100%;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.#{$component-prefix}nav-item--selected {
  background: url(#{$icon-path}/chevron-right.svg) right center no-repeat;
  padding-right: 30px;
  .#{$component-prefix}nav-link {
    color: $color-orange;
  }
}

.#{$component-prefix}nav-item--selected > a {
  font-weight: $font-weight-bold;
}

// Pagination

.#{$component-prefix}pagination {
  display: flex;
  align-items: center;
  font-weight: $font-weight-bold;
}

.#{$component-prefix}pagination-number--selected {
  cursor: pointer;
}

.#{$component-prefix}pagination-prev,
.#{$component-prefix}pagination-next {
  display: flex;
  align-items: center;
  padding: 6px;
  background: $color-white;
  border-radius: $global-rounded;
}

.#{$component-prefix}pagination-prev {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background: url(#{$icon-path}chevron-left.svg) no-repeat center center;
}
.#{$component-prefix}pagination-next {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background: url(#{$icon-path}chevron-right.svg) no-repeat center center;
}

.#{$component-prefix}pagination-content {
  flex: 1 1 auto;
  padding: 5px;
}

.#{$component-prefix}pagination-jump {
  @extend .#{$component-prefix}pagination;
  .#{$base-prefix}form-input {
    width: auto;
    max-width: 50px;
    text-align: center;
    border-radius: $global-rounded;
  }
  .#{$component-prefix}pagination-jumpto {
    display: flex;
    align-items: center;
  }
}

// Breadcrumb

.#{$component-prefix}breadcrumb {
  display: flex;
  align-items: center;
  margin:0;
  padding:0;
  list-style: none;
  >li+li:before {
    color: darken($color-grey, 35%);
    content: "/";
    display: inline-block;
    padding: 0 7px;
  }
}

.#{$component-prefix}breadcrumb-item {
  font-weight: $font-weight-bold;
}

.#{$component-prefix}breadcrumb-item--selected {
  font-weight: $font-weight-base;
  color: $color-orange;
}
