/*
##Nav
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$component-prefix}nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.#{$component-prefix}nav-item {
  padding: $global-padding / 2 0;
}

.#{$component-prefix}nav-heading {
  padding: ($global-padding) 0 0.3rem 0;
  margin-bottom: $global-padding / 2;
  font-weight: 700;
  font-size: $font-size-base * 0.95;
  flex-shrink: 0;
  text-transform: uppercase;
  border-bottom: 1px solid $global-border-color;
}

.#{$component-prefix}nav-link {
  display: block;
  .#{$component-prefix}nav-item--selected > & {
    color: $color-blue;
  }
}

.#{$component-prefix}nav-icon {
  margin-right: 0.5rem;
}

// Nav dots

.#{$component-prefix}nav-dots-item {
  padding: $global-padding;
  border-bottom: 1px solid $global-border-color;
  > {
    display: block;
  }
}

.#{$component-prefix}nav-dots-heading {
  @extend nav-heading !optional;
  margin: 0;
}

// Hide sub levels
.#{$component-prefix}nav-dots-item .#{$component-prefix}nav-dots {
  display: none;
  margin-top: $global-margin / 2;
}

// Show current items sub levels
.#{$component-prefix}nav-dots-item--selected .#{$component-prefix}nav-dots {
  display: block;
}

.#{$component-prefix}nav-dots-item--selected {
  background: $color-grey;
  border-bottom: 1px solid $global-border-color;
  > a {
    color: $color-blue;
  }
}

// 2nd level
.#{$component-prefix}nav-dots-item .#{$component-prefix}nav-dots-item {
  border: 0;
  border-left: 1px solid $global-border-color;
  margin-left: $global-margin;

  padding: $global-padding / 2 0 $global-padding / 2 $global-padding;
}

// 2nd level selected
.#{$component-prefix}nav-dots-item .#{$component-prefix}nav-dots-item.#{$component-prefix}nav-dots-item--selected {
  color: $color-blue;
  position: relative;
  &:before {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: -9px;
    background: $color-blue;
    width: 16px;
    height: 16px;
    border: 3px solid $color-white;
    border-radius: $global-rounded;
    content: "";
  }
}

.#{$component-prefix}nav-item-toggler {
  float: right;
  width: 24px;
  height: 24px;
  border-radius: $global-radius;
  background: $color-white url(#{$icon-path}/chevron-down.svg) no-repeat center center;
  border: 1px solid transparent;
  .#{$component-prefix}nav-dots-item--selected & {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    border: 1px solid $global-border-color;
  }
}

.#{$component-prefix}nav-inline {
  display: flex;
  flex-shrink: 0;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}

.#{$component-prefix}nav-inline-heading {
  @extend .#{$component-prefix}nav-heading;
  margin: 0.5rem 0;
  padding: 0 1rem 0.5rem 1rem;
  flex-basis: 100%;
}

.#{$component-prefix}nav-inline-item {
  margin: 0.5rem 0 0.5rem 0.6rem;
  display: flex;
}

.#{$component-prefix}nav-inline-item--selected {
  border-radius: 100%;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.#{$component-prefix}nav-item--selected {
  background: url(#{$icon-path}/chevron-right.svg) right center no-repeat;
  padding-right: 30px;
  .#{$component-prefix}nav-link {
    color: $color-orange;
  }
}

.#{$component-prefix}nav-item--selected > a {
  font-weight: $font-weight-bold;
}

// Pagination

.#{$component-prefix}pagination {
  display: flex;
  align-items: center;
}

.#{$component-prefix}pagination-number--selected {
  cursor: pointer;
}

.#{$component-prefix}pagination-prev,
.#{$component-prefix}pagination-next {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  background: $color-white;
  border-radius: $global-rounded;
}

.#{$component-prefix}pagination-prev {
  margin-right: 0.3rem;
}
.#{$component-prefix}pagination-next {
  margin-left: 0.3rem;
}

.#{$component-prefix}pagination-content {
  flex: 1 1 auto;
  padding: 0.2rem;
}

.#{$component-prefix}pagination-jump {
  @extend .#{$component-prefix}pagination;
  .#{$base-prefix}form-input {
    width: auto;
    max-width: 3rem;
    text-align: center;
    border-radius: $global-rounded;
  }
  .#{$component-prefix}pagination-jumpto {
    display: flex;
    align-items: center;
  }
}

// Breadcrumb

.#{$component-prefix}breadcrumb {
  display: flex;
  align-items: center;
  >li+li:before {
    color: darken($color-grey, 35%);
    content: "/";
    display: inline-block;
    padding: 0 0.4rem;
  }
}

.#{$component-prefix}breadcrumb-item {
  font-weight: $font-weight-bold;
}

.#{$component-prefix}breadcrumb-item--selected {
  font-weight: $font-weight-base;
  color: $color-orange;
}


.#{$component-prefix}breadcrumb-link {
  padding: 0.5rem 0.8rem;
}
