/*
##Notification
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$component-prefix}notification-area {
  position: fixed;
  top: $global-margin;
  right: $global-margin;
  z-index: 999;
  max-width: rem-calc(420px);
  min-width: rem-calc(320px);
  margin-top: $global-margin;
  box-shadow: 0 0 4px 0 $global-shadow;
  border-radius: $global-radius;
  background: #fff;
}

.#{$component-prefix}notification {
  padding: $global-padding $global-padding $global-padding 3rem;
  @include fadeInUp();
  border-top:1px solid $global-border-color;
  &:after {
    box-sizing: border-box;
    position: absolute;
    top: 2rem;
    left: 1rem;

    content: "";
    width: 16px;
    height: 16px;
    border-radius: $global-circle;
  }
  &:first-child {
    border-top: 0;
  }
}

@each $name, $palette in $colors {
.#{$component-prefix}notification--#{$name} {
    @extend .#{$component-prefix}notification;
    &:after {
      box-sizing: border-box;
      background: palette($name);
    }

  }
}

.#{$component-prefix}notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.#{$component-prefix}notification-heading {
  font-weight: $font-weight-bold;
}
