/*
##Player
  Description
```
<button class="ui-btn--{color}">Code</button>
```
*/

.#{$component-prefix}player {
  display: inline-block;
  position: relative;
}

.#{$component-prefix}player--loading {
  .#{$component-prefix}player-controls,
  .#{$component-prefix}player-time-controls {
    display: none;
  }
  .#{$component-prefix}player-loading {
    display: block;
  }
}

.#{$component-prefix}player--speech-synthesis {
  .#{$component-prefix}player-backward,
  .#{$component-prefix}player-forward {
    display: none;
  }
}

.#{$component-prefix}player-controls,
.#{$component-prefix}player-time-controls,
.#{$component-prefix}player-backward,
.#{$component-prefix}player-forward,
.#{$component-prefix}player-pauseplay,
.#{$component-prefix}player-railtime {
  display: inline-block;
  padding: 0 0.3rem;
  vertical-align: middle;
  cursor: pointer;
}

.#{$component-prefix}player-time-controls {
	padding: 0;
}

.#{$component-prefix}player-railtime {
  @include breakpoints(max-width,xsmall) {
    display: none;
  }
}

.#{$component-prefix}player-backward,
.#{$component-prefix}player-forward,
.#{$component-prefix}player-pauseplay {
  border: 1px solid transparent;
  &:hover {
  border-bottom: 1px solid $color-blue;
  }
}

.#{$component-prefix}player-rail {
  display: inline-block;
  width: 120px;
  height: 6px;
  background: $color-grey;
  border-radius: $global-rounded;
  position: relative;
  @include breakpoints(max-width,small) {
    width: 80px;
  }
}

.#{$component-prefix}player-railfill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: $global-rounded;
  background: $color-blue;
}

.#{$component-prefix}player-loading {
  display: none;
}

.#{$component-prefix}player-sound-players {
  position: absolute;
  top: 500px;
  display: none;
}
