/*
###Forms
  Description
```
Markup
```
*/

.#{$base-prefix}form {
  margin: 0 0 $global-margin 0;
}

.#{$base-prefix}form-row {
  display: block;
  @extend %clearfix;
  margin-bottom: $global-margin;
}

// Label

.#{$base-prefix}form-label {
  margin: 0 0 0.8rem 0;
  display: block;
  font-weight: $font-weight-bold;
}

// Default

.#{$base-prefix}form-input {
  display: flex;
  width: 100%;
  max-width: 100%;
  border-radius: $global-radius;
  padding: map-deep-get($inline-sizes, "sm", padding);
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-color: $global-border-color;
  -webkit-appearance: none;
  vertical-align: middle;
  font-size: 16px;
  appearance: none;
  &:focus {
    outline: none;
    border-color: $color-default;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.#{$base-prefix}form-input-lg {
  padding: map-deep-get($inline-sizes, "lg", padding);
}

textarea.#{$base-prefix}form-input {
  overflow: auto;
  height: auto;
}

// Labeled input

.#{$base-prefix}form-labeled-input {
  position: relative;
  .#{$base-prefix}form-label {
    position: absolute;
    top: 10px;
    left: 0.9rem;
    font-size: $font-size-base * 0.8;
    text-transform: uppercase;
  }
  .#{$base-prefix}form-input {
    padding-top: 30px;
    height: auto;
  }
}

// Form colors

.#{$base-prefix}form-input--error {
  background-image: url(#{$icon-path}error.svg);
  background-position: right 0.3rem center;
  @extend .#{$base-prefix}form-input;
  border-color: $color-error;
  position: relative;
}

  background-image: url(#{$icon-path}correct.svg);
  background-position: right 0.3rem center;
  @extend .#{$base-prefix}form-input;
  border-color: $color-success;
}

// Appended buttons

.#{$base-prefix}form-items {
  display: flex;
  align-items: center;
  .#{$base-prefix}form-input {
    margin: 0;
    flex: 1;
  }
}

.#{$base-prefix}form-item {
  margin: 0 $global-margin / 2;
  &:last-child {
    margin-right: 0;
  }
}

.#{$base-prefix}form-item + .#{$base-prefix}form-item {
  margin-left: 0;
}

// Stack controls (radio and checkbox)

.#{$base-prefix}form-controls--stack {
  .#{$base-prefix}form-checkbox,
  .#{$base-prefix}form-radio {
    margin-bottom: $global-margin;
    display: block;
    &:last-child {
      margin: 0;
    }
  }
}

// Checkbox

.#{$base-prefix}form-checkbox {
  position: relative;
  display: inline-block;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input {
  opacity: 0;
  float: left;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label {
  margin: 0 10px 0 30px;
  position: relative;
  cursor: pointer;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label ~ .#{$base-prefix}form-label {
  margin: 0 0 0 40px;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label:before {
  content: ' ';
  position: absolute;
  left: -28px;
  top: 0px;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: $global-radius;
  border: 1px solid $global-border-color;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label:after {
  content:' ';
  position: absolute;
  left: -30px;
  top: -2px;
  width: 23px;
  height: 23px;
  display: block;
  z-index: 1;
  background: url('data: image/svg+xml,<svg width="16" height="12" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg"><path d="M13.439 1.09c.414-.367 1.059-.328 1.431.076l.413.448c.377.409.36 1.037-.048 1.413l-8.925 8.217c-.403.371-1.036.347-1.412-.054l-3.773-4.018c-.377-.401-.372-1.062 0-1.467l.413-.448c.377-.409.993-.413 1.37-.015l2.671 2.816 7.858-6.969z" fill="#7AB23D"/></svg>') no-repeat center center;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input:checked + .#{$base-prefix}form-label:after {
  transform: scale(1);
  opacity: 1;
}

// Radio

.#{$base-prefix}form-radio {
  position: relative;
  display: inline-block;
}

input[type=radio].#{$base-prefix}form-radio-input {
  opacity: 0;
  float: left;
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label {
  margin: 0 10px 0 30px;
  position: relative;
  cursor: pointer;
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label ~ .#{$base-prefix}form-label {
  margin: 0 0 0 40px;
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label::before {
  content: ' ';
  position: absolute;
  left: -28px;
  top: 1px;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: $global-circle;
  border: 1px solid $global-border-color;
}

.#{$base-prefix}element--active {
  transition: all 0.30s ease-in-out;
  box-shadow: 0 0 0 0 $global-shadow;
  &:active {
    box-shadow: 0 0 6px 6px $global-shadow;
  }
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label::after {
  content: ' ';
  position: absolute;
  left: -30px;
  top: -1px;
  width: 12px;
  height: 12px;
  margin: 6px;
  display: block;
  z-index: 1;
  background: $color-default;
  border-radius: $global-circle;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=radio].#{$base-prefix}form-radio-input:checked + .#{$base-prefix}form-label::after {
  transform: scale(1);
  opacity: 1;
}

// On off

.#{$base-prefix}onoffswitch {
    position: relative; width: 54px;
    -webkit-user-select: none;
}
.#{$base-prefix}onoffswitch-checkbox {
    display: none;
}
.#{$base-prefix}onoffswitch-label {
    display: block; overflow:
    hidden; cursor: pointer;
    border-radius: 20px;
}
.#{$base-prefix}onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.#{$base-prefix}onoffswitch-inner:before,
.#{$base-prefix}onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.#{$base-prefix}onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: $color-success;
    color: #FFFFFF;
}
.#{$base-prefix}onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.#{$base-prefix}onoffswitch-switch {
    display: block;
    width: 28px;
    margin: -2px;
    background: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 4px 0 $global-shadow;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    transition: all 0.3s ease-in 0s;
}
.#{$base-prefix}onoffswitch-checkbox:checked + .#{$base-prefix}onoffswitch-label .#{$base-prefix}onoffswitch-inner {
    margin-left: 0;
}
.#{$base-prefix}onoffswitch-checkbox:checked + .#{$base-prefix}onoffswitch-label .#{$base-prefix}onoffswitch-switch {
    right: 0px;
}

// Input range

input[type=range].#{$base-prefix}form-range {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 5.5px 0;
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 35%;
    width: 4px;
    height: 14px;
    border-radius: $global-radius;
    background: $color-blue;
    z-index: 1;
  }
}
input[type=range].#{$base-prefix}form-range:focus {
  outline: none;
}
input[type=range].#{$base-prefix}form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e4e4e4;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].#{$base-prefix}form-range::-webkit-slider-thumb {
  border: 4px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: $color-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range].#{$base-prefix}form-range:focus::-webkit-slider-runnable-track {
  background: #eeeeee;
}
input[type=range].#{$base-prefix}form-range::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e4e4e4;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].#{$base-prefix}form-range::-moz-range-thumb {
  box-shadow: 1px 1px 5px #787878, 0px 0px 1px #858585;
  border: 0px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].#{$base-prefix}form-range::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].#{$base-prefix}form-range::-ms-fill-lower {
  background: #dadada;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].#{$base-prefix}form-range::-ms-fill-upper {
  background: #e4e4e4;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].#{$base-prefix}form-range::-ms-thumb {
  box-shadow: 1px 1px 5px #787878, 0px 0px 1px #858585;
  border: 0px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  height: 9px;
}
input[type=range].#{$base-prefix}form-range:focus::-ms-fill-lower {
  background: #e4e4e4;
}
input[type=range].#{$base-prefix}form-range:focus::-ms-fill-upper {
  background: #eeeeee;
}

// Select

.#{$base-prefix}form-selects {
  border-radius: $global-radius;
  background-color: #fff;
  border:1px solid $global-border-color;
  position: relative;
  display: inline-block;
  &:after,
  &::after,
  select {
    background-color: #fff;
  }
}

.#{$base-prefix}form-selects select,
.#{$base-prefix}form-selects:after,
.#{$base-prefix}form-selects::after {
  display: inline-block;
}

.#{$base-prefix}form-selects select,
.#{$base-prefix}form-selects option {
  vertical-align: middle;
  padding: map-deep-get($inline-sizes, "sm", padding);
}

.#{$base-prefix}form-selects::after {
  background-image: url(#{$icon-path}chevron-down.svg);
  background-position: left center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  pointer-events: none;
  border-radius: $global-radius;
}

.#{$base-prefix}form-selects select {
  border: 0;
  vertical-align: middle;
  outline: 0 none;
  padding-right: 40px;
  -webkit-appearance: none;
  width: 100%;
  @include text-overflow;
  border-radius: $global-radius;
  @include breakpoints(max-width, small) {
    font-size: 16px;
  }
}

.#{$base-prefix}form-selects option {
  border: 0;
  background: #fff;
  color: #333;
  outline: none;
}
