/*
##Text formats
  Description
```
Markup
```
*/

.#{$base-prefix}summary {
  border-left: 4px solid $color-blue;
  padding: $global-padding;
  margin-bottom:$global-margin;
  .#{$base-prefix}text-formats & {
    background: $color-lightblue;
    border-left: 4px solid $color-blue;
    > a {
      color: lighten($color-blue,10%);
    }
  }
}

.#{$base-prefix}recommendation {
  border-left: 4px solid $color-brown;
  padding: $global-padding;
  margin-bottom:$global-margin;
  .#{$base-prefix}text-formats & {
    background: $color-lightbrown;
    > a {
      color: darken($color-brown,10%);
    }
  }
}

.#{$base-prefix}extended-explanation,
.#{$base-prefix}deep-dive {
  cursor: pointer;
  position: relative;
  border-bottom: 2px solid $color-grey;
  &:active {
    top: 1px;
  }
}

.#{$base-prefix}extended-explanation {
  .#{$base-prefix}text-formats & {
    background: $color-lightyellow;
    border-bottom: 2px solid $color-yellow;
  }
}

.#{$base-prefix}deep-dive {
  .#{$base-prefix}text-formats & {
    background: $color-lightgreen;
    border-bottom: 2px solid $color-green;
  }
}
