/*
##Text formats
  Description
```
Markup
```
*/

.#{$base-prefix}text-formats {

}

.#{$base-prefix}summary {
  background: $color-lightblue;
  border-left: 4px solid $color-blue;
  padding: $global-padding;
  > a {
    color: darken($color-blue,10%);
  }
}

.#{$base-prefix}recommendation {
  background: $color-lightbrown;
  border-left: 4px solid $color-brown;
  padding: $global-padding;
  > a {
    color: darken($color-brown,10%);
  }
}

.#{$base-prefix}extended-explanation,
.#{$base-prefix}deep-dive {
  cursor: pointer;
  position: relative;
  &:active {
    top: 1px;
  }
}

.#{$base-prefix}extended-explanation {
  background: $color-lightyellow;
  border-bottom: 2px solid $color-yellow;
}

.#{$base-prefix}deep-dive {
  background: $color-lightgreen;
  border-bottom: 2px solid $color-green;
}
