/*
###Forms
  Description
```
Markup
```
*/

input,
select {
  &:focus {
    outline: none;
  }
}

.#{$base-prefix}form {
  margin: 0 0 $global-margin 0;
}

.#{$base-prefix}form-row {
  display: block;
  @extend %clearfix;
  margin-bottom: $global-margin;
}

// Label

.#{$base-prefix}form-label {
  margin: 0 0 0.8rem 0;
  display: block;
  font-weight: $font-weight-bold;
}

// Default

.#{$base-prefix}form-input {
  display: flex;
  width: 100%;
  max-width: 100%;
  border-radius: $global-radius;
  padding: map-deep-get($inline-sizes, "sm", padding);
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-color: $global-border-color;
  -webkit-appearance: none;
  vertical-align: middle;
  font-size: 16px;
  appearance: none;
  &:focus {
    outline: none;
    border-color: $color-blue;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.#{$base-prefix}form-input-large {
  padding: map-deep-get($inline-sizes, "lg", padding);
  font-size: map-deep-get($inline-sizes, "lg", font-size);
}

textarea.#{$base-prefix}form-input {
  overflow: auto;
  height: auto;
}

// Labeled input

.#{$base-prefix}form-labeled-input {
  position: relative;
  .#{$base-prefix}form-label {
    position: absolute;
    top: 10px;
    left: 0.9rem;
    font-size: $font-size-base * 0.8;
    text-transform: uppercase;
  }
  .#{$base-prefix}form-input {
    padding-top: 30px;
    height: auto;
  }
}

// Form colors

.#{$base-prefix}form-input--error {
  background-image: url(#{$icon-path}close-error.svg);
  background-position: right 0.6rem center;
  background-repeat: no-repeat;
  @extend .#{$base-prefix}form-input;
  border-color: $color-red;
  position: relative;
}
.#{$base-prefix}form-input--success {
  background-image: url(#{$icon-path}check-success.svg);
  background-position: right 0.6rem center;
  background-repeat: no-repeat;
  @extend .#{$base-prefix}form-input;
  border-color: $color-green;
}

// Appended buttons

.#{$base-prefix}form-items {
  display: flex;
  align-items: center;
  .#{$base-prefix}form-input {
    margin: 0;
    flex: 1 1 auto;
  }
}

.#{$base-prefix}form-item {
  margin: 0 $global-margin / 2;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.#{$base-prefix}form-item + .#{$base-prefix}form-item {
  margin-left: 0;
}

// Stack controls (radio and checkbox)

.#{$base-prefix}form-controls--stack {
  .#{$base-prefix}form-checkbox,
  .#{$base-prefix}form-radio {
    margin-bottom: $global-margin;
    display: block;
    &:last-child {
      margin: 0;
    }
  }
}

// Checkbox

.#{$base-prefix}form-checkbox {
  position: relative;
  display: inline-block;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input {
  opacity: 0;
  position: absolute;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label {
  margin: 0;
  position: relative;
  cursor: pointer;
  min-height: 1.5rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label:before {
  content: ' ';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  display: block;
  background: white;
  border-radius: $global-radius;
  border: 1px solid $global-border-color;
  flex: 0 0 auto;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input + .#{$base-prefix}form-label:after {
  content:' ';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  z-index: 1;
  background-image: url(#{$icon-path}checkbox-checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 12px;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=checkbox].#{$base-prefix}form-checkbox-input:checked + .#{$base-prefix}form-label:after {
  transform: scale(1);
  opacity: 1;
}

// Radio

.#{$base-prefix}form-radio {
  position: relative;
  display: inline-block;
}

input[type=radio].#{$base-prefix}form-radio-input {
  opacity: 0;
  position: absolute;
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label {
  margin: 0;
  position: relative;
  cursor: pointer;
  min-height: 1.5rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label::before {
  content: ' ';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  display: block;
  background: white;
  border-radius: $global-circle;
  border: 1px solid $global-border-color;
  flex: 0 0 auto;
}

.#{$base-prefix}element--active {
  transition: all 0.30s ease-in-out;
  box-shadow: 0 0 0 0 $global-shadow;
  &:active {
    box-shadow: 0 0 6px 6px $global-shadow;
  }
}

input[type=radio].#{$base-prefix}form-radio-input + .#{$base-prefix}form-label::after {
  content: ' ';
  position: absolute;
  left: 0.25rem;
  top: 50%;
  margin-top: -0.5rem;
  width: 1rem;
  height: 1rem;
  display: block;
  z-index: 1;
  background: $color-blue;
  border-radius: $global-circle;
  transition: all .3s ease;
  transform: scale(0);
  opacity: 0;
}

input[type=radio].#{$base-prefix}form-radio-input:checked + .#{$base-prefix}form-label::after {
  transform: scale(1);
  opacity: 1;
}

// On off

.#{$base-prefix}onoffswitch {
    position: relative; width: 54px;
    -webkit-user-select: none;
}
.#{$base-prefix}onoffswitch-checkbox {
    display: none;
}
.#{$base-prefix}onoffswitch-label {
    display: block; overflow:
    hidden; cursor: pointer;
    border-radius: 20px;
}
.#{$base-prefix}onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.#{$base-prefix}onoffswitch-inner:before,
.#{$base-prefix}onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.#{$base-prefix}onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: $color-green;
    color: $color-white;
}
.#{$base-prefix}onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: darken($color-grey, 30%);
    text-align: right;
}
.#{$base-prefix}onoffswitch-switch {
    display: block;
    width: 28px;
    margin: -2px;
    background: $color-white;
    border: 1px solid $global-border-color;
    box-shadow: 0 0 4px 0 $global-shadow;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    transition: all 0.3s ease-in 0s;
}
.#{$base-prefix}onoffswitch-checkbox:checked + .#{$base-prefix}onoffswitch-label .#{$base-prefix}onoffswitch-inner {
    margin-left: 0;
}
.#{$base-prefix}onoffswitch-checkbox:checked + .#{$base-prefix}onoffswitch-label .#{$base-prefix}onoffswitch-switch {
    right: 0px;
}

// Input range

input[type=range].#{$base-prefix}form-range {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  margin: 5.5px 0;
  padding: 0;
}
input[type=range].#{$base-prefix}form-range:focus {
  outline: none;
}
input[type=range].#{$base-prefix}form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e4e4e4;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].#{$base-prefix}form-range::-webkit-slider-thumb {
  border: 4px solid $color-white;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: $color-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
  box-sizing: border-box;
}
input[type=range].#{$base-prefix}form-range:focus::-webkit-slider-runnable-track {
  background: #eeeeee;
}
input[type=range].#{$base-prefix}form-range::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e4e4e4;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].#{$base-prefix}form-range::-moz-range-thumb {
  border: 4px solid $color-white;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: $color-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
  box-sizing: border-box;
}
input[type=range].#{$base-prefix}form-range::-ms-track {
  width: 100%;
  height: 9px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].#{$base-prefix}form-range::-ms-fill-lower {
  background: #e4e4e4;
  border: 0px solid #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].#{$base-prefix}form-range::-ms-fill-upper {
  background: #e4e4e4;
  border: 0px solid #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].#{$base-prefix}form-range::-ms-thumb {
  border: 4px solid $color-white;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  background: $color-blue;
  cursor: pointer;
  margin-top: 0;
  box-sizing: border-box;
}
input[type=range].#{$base-prefix}form-range:focus::-ms-fill-lower {
  background: #eeeeee;
}
input[type=range].#{$base-prefix}form-range:focus::-ms-fill-upper {
  background: #eeeeee;
}

// Select

.#{$base-prefix}form-selects {
  border-radius: $global-radius;
  background-color: $color-white;
  border:1px solid $global-border-color;
  position: relative;
  display: inline-flex;
  &:after,
  &::after,
  select {
    background-color: $color-white;
  }
}

.#{$base-prefix}form-selects select,
.#{$base-prefix}form-selects:after,
.#{$base-prefix}form-selects::after {
  display: inline-block;
}

.#{$base-prefix}form-selects select,
.#{$base-prefix}form-selects option {
  vertical-align: middle;
  padding: map-deep-get($inline-sizes, "sm", padding);
}

.#{$base-prefix}form-selects::after {
  background-image: url(#{$icon-path}chevron-down.svg);
  background-position: left center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 32px;
  text-align: center;
  pointer-events: none;
  border-radius: $global-radius;
}

.#{$base-prefix}form-selects select {
  border: 0;
  vertical-align: middle;
  outline: 0 none;
  padding: map-deep-get($inline-sizes, "sm", padding);
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: $global-radius;
  &::-ms-expand {
    visibility: hidden;
    height: 40px;
    width: 0;
  }
  @include breakpoints(max-width, small) {
    font-size: 16px;
  }
}

.#{$base-prefix}form-selects option {
  border: 0;
  background: $color-white;
  color: $color-black;
  outline: none;
}

.#{$base-prefix}form-selects--multiple::after {
	display: none;
}

.#{$base-prefix}form-selects--multiple select {
	padding: 0;
}