@mixin icon-size ($width,$height) {
  width:$width;
  height:$height;
}

[data-ico] {
  width:$icon-size;
  height:$icon-size;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

[data-ico~="scale"] {
  background-size: 100% 100%;
}

// Logo

[data-ico~="logo"] {
  width:40px;
  height:22px;
  background-image: url(#{$icon-path}logo.svg);
}

// Avatar

[data-ico~="avatar"] {
  background-image: url(#{$icon-path}avatar.svg);
}

[data-ico~="teacher"] {
  background-image: url(#{$icon-path}teacher.svg);
}

[data-ico~="teacher-white"] {
  background-image: url(#{$icon-path}teacher-white.svg);
}

// Specials

[data-ico~="apps"] {
  background-image: url(#{$icon-path}apps.svg);
}

[data-ico~="continue"] {
  background-image: url(#{$icon-path}continue.svg);
}

[data-ico~="continue-white"] {
  background-image: url(#{$icon-path}continue-white.svg);
}

[data-ico~="dashboard"] {
  background-image: url(#{$icon-path}homescreen.svg);
}

[data-ico~="messages"] {
  background-image: url(#{$icon-path}dashboard-message.svg);
}

[data-ico~="teacher"] {
  background-image: url(#{$icon-path}dashboard-teacher.svg);
}

[data-ico~="stats"] {
  background-image: url(#{$icon-path}dashboard-statistics.svg);
}

// States

[data-ico~="assignment"] {
  background-image: url(#{$icon-path}assignment.svg);
}

[data-ico~="assignment-white"] {
  background-image: url(#{$icon-path}assignment-white.svg);
}

[data-ico~="assignment-audited"]{
  background-image: url(#{$icon-path}audited.svg);
}

[data-ico~="assignment-done"] {
  background-image: url(#{$icon-path}done.svg);
}

[data-ico~="assignment-turnedin"] {
  background-image: url(#{$icon-path}turnedin.svg);
}

[data-ico~="assignment-started"] {
  background-image: url(#{$icon-path}started.svg);
}

[data-ico~="assignment-notstarted"]{
  background-image: url(#{$icon-path}notstarted.svg);
}

[data-ico~="assignment-correct"] {
  background-image: url(#{$icon-path}correct.svg);
}

[data-ico~="assignment-correct-white"] {
  background-image: url(#{$icon-path}correct-white.svg);
}

[data-ico~="assignment-wrong"] {
  background-image: url(#{$icon-path}error.svg);
}

[data-ico~="assignment-wrong-white"] {
  background-image: url(#{$icon-path}error-white.svg);
}

// Media

[data-ico~="player-play"] {
  background-image: url(#{$icon-path}player-play.svg);
}

[data-ico~="player-pause"] {
  background-image: url(#{$icon-path}player-pause.svg);
}

[data-ico~="player-forward"] {
  background-image: url(#{$icon-path}player-forward.svg);
}

[data-ico~="player-rewind"] {
  background-image: url(#{$icon-path}player-rewind.svg);
}

[data-ico~="play"] {
  background-image: url(#{$icon-path}play.svg);
}

[data-ico~="play-white"] {
  background-image: url(#{$icon-path}play-white.svg);
}
[data-ico~="volume"] {
  background-image: url(#{$icon-path}volume.svg);
}

[data-ico~="volume-white"] {
  background-image: url(#{$icon-path}volume-white.svg);
}
[data-ico~="related"] {
  background-image: url(#{$icon-path}related.svg);
}

[data-ico~="related-white"] {
  background-image: url(#{$icon-path}related-white.svg);
}

// Directions

[data-ico~="arrow-left"] {
  background-image: url(#{$icon-path}arrow-left.svg);
}

[data-ico~="arrow-left-white"] {
  background-image: url(#{$icon-path}arrow-left-white.svg);
}

[data-ico~="arrow-right"] {
  background-image: url(#{$icon-path}arrow-right.svg);
}

[data-ico~="arrow-right-white"]{
  background-image: url(#{$icon-path}arrow-right-white.svg);
}

[data-ico~="arrow-up"] {
  background-image: url(#{$icon-path}arrow-up.svg);
}

[data-ico~="arrow-up-white"] {
  background-image: url(#{$icon-path}arrow-up-white.svg);
}

[data-ico~="arrow-down"] {
  background-image: url(#{$icon-path}arrow-down.svg);
}

[data-ico~="arrow-down-white"] {
  background-image: url(#{$icon-path}arrow-down-white.svg);
}

[data-ico~="chevron-left"] {
  background-image: url(#{$icon-path}chevron-left.svg);
}

[data-ico~="chevron-left-white"] {
  background-image: url(#{$icon-path}chevron-left-white.svg);
}

[data-ico~="chevron-right"] {
  background-image: url(#{$icon-path}chevron-right.svg);
}

[data-ico~="chevron-right-white"] {
  background-image: url(#{$icon-path}chevron-right-white.svg);
}

[data-ico~="chevron-up"] {
  background-image: url(#{$icon-path}chevron-up.svg);
}

[data-ico~="chevron-up-white"] {
  background-image: url(#{$icon-path}chevron-up-white.svg);
}

[data-ico~="chevron-down"] {
  background-image: url(#{$icon-path}chevron-down.svg);
}

[data-ico~="chevron-down-white"] {
  background-image: url(#{$icon-path}chevron-down-white.svg);
}

[data-ico~="data-ico-list-arrow"]{
  background-image: url(#{$icon-path}list-arrow.svg);
}

// Common

[data-ico~="help"] {
  background-image: url(#{$icon-path}help.svg);
}

[data-ico~="help-white"] {
  background-image: url(#{$icon-path}help-white.svg);
}

// File icon

[data-ico~="file-video"] {
  background-image: url(#{$icon-path}file-video.svg);
}

[data-ico~="file-video-white"] {
  background-image: url(#{$icon-path}file-video-white.svg);
}

[data-ico~="file-image"] {
  background-image: url(#{$icon-path}file-image.svg);
}

[data-ico~="file-image-multiple"] {
  background-image: url(#{$icon-path}file-image-multiple.svg);
}

[data-ico~="file-voice"] {
  background-image: url(#{$icon-path}file-voice.svg);
}

[data-ico~="file-voice-white"] {
  background-image: url(#{$icon-path}file-voice-white.svg);
}

[data-ico~="file-document"] {
  background-image: url(#{$icon-path}file-document.svg);
}

// UI
[data-ico~="portfolio"] {
  background-image: url(#{$icon-path}portfolio.svg);
}

[data-ico~="portfolio-white"] {
  background-image: url(#{$icon-path}portfolio-white.svg);
}

[data-ico~="support"] {
  background-image: url(#{$icon-path}support.svg);
}

[data-ico~="support-white"] {
  background-image: url(#{$icon-path}support-white.svg);
}

[data-ico~="share"] {
  background-image: url(#{$icon-path}share.svg);
}

[data-ico~="list"] {
  background-image: url(#{$icon-path}wordlists.svg);
}

[data-ico~="trash"] {
  background-image: url(#{$icon-path}trash.svg);
}

[data-ico~="download"] {
  background-image: url(#{$icon-path}download.svg);
}

[data-ico~="cloud-down"] {
  background-image: url(#{$icon-path}cloud-down.svg);
}

[data-ico~="cloud-up"] {
  background-image: url(#{$icon-path}cloud-up.svg);
}

[data-ico~="sidebar"] {
  background-image: url(#{$icon-path}sidebar.svg);
}

[data-ico~="sidebar-white"] {
  background-image: url(#{$icon-path}sidebar-white.svg);
}

[data-ico~="toolbar"] {
  background-image: url(#{$icon-path}toolbar.svg);
}

[data-ico~="toolbar-white"] {
  background-image: url(#{$icon-path}toolbar-white.svg);
}

[data-ico~="toolbar-close"] {
  background-image: url(#{$icon-path}toolbar-close.svg);
}

[data-ico~="toolbar-close-white"] {
  background-image: url(#{$icon-path}toolbar-close-white.svg);
}

[data-ico~="flow-nav"] {
  background-image: url(#{$icon-path}flownav.svg);
}

[data-ico~="flow-nav-white"] {
  background-image: url(#{$icon-path}flownav-white.svg);
}

[data-ico~="history"] {
  background-image: url(#{$icon-path}history.svg);
}

[data-ico~="messages"] {
  background-image: url(#{$icon-path}messages.svg);
}

[data-ico~="tweak"] {
  background-image: url(#{$icon-path}tweak.svg);
}

[data-ico~="settings"] {
  background-image: url(#{$icon-path}settings.svg);
}

[data-ico~="settings-white"] {
  background-image: url(#{$icon-path}settings-white.svg);
}

[data-ico~="admin"] {
  background-image: url(#{$icon-path}admin.svg);
}

[data-ico~="admin-white"] {
  background-image: url(#{$icon-path}admin-white.svg);
}

[data-ico~="mouse"]{
  background-image: url(#{$icon-path}mouse.svg);
}

[data-ico~="scroll-white"] {
  background-image: url(#{$icon-path}scroll.svg);
}

[data-ico~="hamburger"] {
  background-image: url(#{$icon-path}hamburger.svg);
}

[data-ico~="hamburger-white"]{
  background-image: url(#{$icon-path}hamburger-white.svg);
}

[data-ico~="login"] {
  background-image: url(#{$icon-path}login.svg);
}

[data-ico~="logout"] {
  background-image: url(#{$icon-path}logout.svg);
}

[data-ico~="account"] {
  background-image: url(#{$icon-path}account.svg);
}

[data-ico~="account-white"] {
  background-image: url(#{$icon-path}account-white.svg);
}

[data-ico~="clock"] {
  background-image: url(#{$icon-path}clock.svg);
}

[data-ico~="resize"] {
  background-image: url(#{$icon-path}resize.svg);
}

[data-ico~="resize-white"]{
  background-image: url(#{$icon-path}resize-white.svg);
}

[data-ico~="drag"] {
  background-image: url(#{$icon-path}drag.svg);
}

[data-ico~="drag-white"] {
  background-image: url(#{$icon-path}drag-white.svg);
}

[data-ico~="sort"] {
  background-image: url(#{$icon-path}sort.svg);
}

[data-ico~="sort-white"] {
  background-image: url(#{$icon-path}sort-white.svg);
}

[data-ico~="grid"]{
  background-image: url(#{$icon-path}grid.svg);
}

[data-ico~="grid-white"] {
  background-image: url(#{$icon-path}grid-white.svg);
}

[data-ico~="magnifier"] {
  background-image: url(#{$icon-path}magnifier.svg);
}

[data-ico~="magnifier-white"] {
  background-image: url(#{$icon-path}magnifier-white.svg);
}

[data-ico~="palette"] {
  background-image: url(#{$icon-path}palette.svg);
}

[data-ico~="read-help"] {
  background-image: url(#{$icon-path}read-help.svg);
}

[data-ico~="invert"] {
  background-image: url(#{$icon-path}invert.svg);
}

[data-ico~="fill"] {
  background-image: url(#{$icon-path}fill.svg);
}

[data-ico~="text-settings"] {
  background-image: url(#{$icon-path}text-settings.svg);
}

[data-ico~="read"] {
  background-image: url(#{$icon-path}read.svg);
}

[data-ico~="read-white"] {
  background-image: url(#{$icon-path}read-white.svg);
}

[data-ico~="animation"] {
  background-image: url(#{$icon-path}animation.svg);
}

[data-ico~="help-ruler"] {
  background-image: url(#{$icon-path}help-ruler.svg);
}

[data-ico~="eye"] {
  background-image: url(#{$icon-path}eye.svg);
}

[data-ico~="listen"] {
  background-image: url(#{$icon-path}listen.svg);
}

[data-ico~="speech-synthesis"] {
  background-image: url(#{$icon-path}speech-synthesis.svg);
}

[data-ico~="speech-recorded"] {
  background-image: url(#{$icon-path}speech-recorded.svg);
}

[data-ico~="edit"] {
  background-image: url(#{$icon-path}edit.svg);
}

[data-ico~="close"] {
  background-image: url(#{$icon-path}close.svg);
}

[data-ico~="close-white"] {
  background-image: url(#{$icon-path}close-white.svg);
}

[data-ico~="plus"] {
  background-image: url(#{$icon-path}plus.svg);
}

[data-ico~="plus-white"] {
  background-image: url(#{$icon-path}plus-white.svg);
}

[data-ico~="minus"] {
  background-image: url(#{$icon-path}minus.svg);
}

[data-ico~="minus-white"] {
  background-image: url(#{$icon-path}minus-white.svg);
}

[data-ico~="group"] {
  background-image: url(#{$icon-path}groups.svg);
}

[data-ico~="create-excercise"] {
  background-image: url(#{$icon-path}create-excercise.svg);
}

[data-ico~="bars"] {
  background-image: url(#{$icon-path}bars.svg);
}

// tools

[data-ico~="intro"] {
  background-image: url(#{$icon-path}intro.svg);
}

[data-ico~="wordlists"] {
  background-image: url(#{$icon-path}wordlists.svg);
}

[data-ico~="scissor"] {
  background-image: url(#{$icon-path}scissor.svg);
}

[data-ico~="notes"] {
  background-image: url(#{$icon-path}notes.svg);
}

[data-ico~="quiz"] {
  background-image: url(#{$icon-path}quiz.svg);
}

[data-ico~="instud"] {
  background-image: url(#{$icon-path}instud.svg);
}

[data-ico~="assignment"] {
  background-image: url(#{$icon-path}assignment.svg);
}

[data-ico~="help"] {
  background-image: url(#{$icon-path}help.svg);
}

// Subject icon-size

[data-ico~="sub-sh"] {
  background-image: url(#{$icon-path}sub-sh.svg);
}

[data-ico~="sub-re"] {
  background-image: url(#{$icon-path}sub-re.svg);
}

[data-ico~="sub-hi"] {
  background-image: url(#{$icon-path}sub-hi.svg);
}

[data-ico~="sub-sv"]{
  background-image: url(#{$icon-path}sub-sv.svg);
}

[data-ico~="sub-en"] {
  background-image: url(#{$icon-path}sub-en.svg);
}

[data-ico~="library-rounded"] {
  background-image: url(#{$icon-path}library-rounded.svg);
}

[data-ico~="extramaterial-rounded"] {
  background-image: url(#{$icon-path}extramaterial-rounded.svg);
}

[data-ico~="assignments-rounded"] {
  background-image: url(#{$icon-path}assignments-rounded.svg);
}

[data-ico~="continue-rounded"] {
  background-image: url(#{$icon-path}continue-rounded.svg);
}

[data-ico~="document-rounded"] {
  background-image: url(#{$icon-path}document-rounded.svg);
}

[data-ico~="settings-rounded"] {
  background-image: url(#{$icon-path}settings-rounded.svg);
}

[data-ico~="portfolio-rounded"] {
  background-image: url(#{$icon-path}portfolio-rounded.svg);
}

[data-ico~="admin-rounded"] {
  background-image: url(#{$icon-path}admin-rounded.svg);
}

[data-ico~="support-rounded"]{
  background-image: url(#{$icon-path}support-rounded.svg);
}

// Flags

[data-ico~="f-sweden"] {
  background-image: url(/assets/flags/sweden.svg);
}

[data-ico~="f-uk"] {
  background-image: url(/assets/flags/uk.svg);
}

[data-ico~="small"] {
  @include icon-size(16px,16px);
  @extend [data-ico~="scale"]
}

[data-ico~="large"] {
  @include icon-size(48px,48px);
  @extend [data-ico~="scale"]
}
