@mixin icon-size ($width,$height) {
  width:$width;
  height:$height;
}

[data-ico] {
  width:$icon-size;
  height:$icon-size;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

[data-ico~="scale"] {
  background-size: 100% 100%;
}

// Logo

[data-ico~="logo"] {
  width:40px;
  height:22px;
}

[data-ico~="small"] {
  @include icon-size(16px,16px);
  @extend [data-ico~="scale"]
}

[data-ico~="large"] {
  @include icon-size(48px,48px);
  @extend [data-ico~="scale"]
}
