/*
###Lists
  Description
```
Markup
```
*/

.#{$base-prefix}list-reset {
  margin:0;
  padding:0;
  list-style: none;
}

.#{$base-prefix}list {
  @extend .#{$base-prefix}list-reset;
}

.#{$base-prefix}list-item {
  padding:$global-padding;
}

.#{$base-prefix}list-item-heading {
  font-weight: 600;
  @include responsive-font(3vw, 16px, 18px);
}

.#{$base-prefix}list-divider {
  text-transform: uppercase;
  padding:$global-padding / 2 $global-padding;
}

.#{$base-prefix}list-item--selected {
  box-shadow:0 0 10px 0 rgba($color-default,0.6);
  border-radius:$global-radius;
  margin:0 -0.5rem;
  background:#fff;
}

.#{$base-prefix}list-item > ul {
  margin:$global-margin (-$global-padding) 0 (-$global-padding);
  border-top:1px solid $global-border-color;
  padding-left:$global-padding;
}

.#{$base-prefix}list-item .#{$base-prefix}list-item {
  padding:$global-padding;
  border-top:1px solid $global-border-color;
}

// If flex is needed

.#{$base-prefix}list-flex {
  display:flex;
  align-items: center;
}

.#{$base-prefix}list-content {
  flex:1;
}

.#{$base-prefix}list-object {
  margin-right:0.6rem;
  cursor:pointer;
  &:last-child {
    margin-right:0;
  }
}

// Bordered lists

.#{$base-prefix}list-bordered {
  @extend .#{$base-prefix}list;
  li {
    border-top:1px solid $global-border-color;
    &:first-child {
      border:0;
    }
  }
}

// Unordered lists

.#{$base-prefix}list-unordered {
  margin:1rem 0 1rem 1rem;
  padding:0 0 0 0.5rem;
  list-style-type: disc;
  li {
    padding:$list-padding 0 $list-padding 1rem;
  }
}

// Ordered lists

.#{$base-prefix}list-ordered {
  margin:1rem 0 1rem 1rem;
  padding:0 0 0 1rem;
  list-style-type: decimal;
  li {
    padding:$list-padding 0 $list-padding 0.5rem;
  }
}

// Hierarchy

.#{$base-prefix}list-tree-view {
  margin-left:0.7rem;
  margin-bottom:$global-margin;
  border-left:1px solid $global-border-color;
  li {
    padding:$list-padding 0 $list-padding 1.4rem;
    position: relative;
    &:before {
      position:absolute;
      content:"";
      top:50%;
      left:0px;
      width:1rem;
      height:1px;
      background: $global-border-color;
    }
  }
}

.#{$base-prefix}list-tree-view-children {
  margin-left:1.4rem;
  border-left:1px solid $global-border-color;
}

// With arrow

.#{$base-prefix}list-arrow {
  li {
    padding:$list-padding 0;
    border-bottom:1px solid $global-border-color;
    padding-right:30px;
    background:url(#{$icon-path}list-arrow.svg) no-repeat right center;
    &:last-child {
      border:0;
    }
  }
}

// With arrow before

.#{$base-prefix}list-arrow--pre {
  @extend .#{$base-prefix}list-reset;
  li {
    padding:$list-padding 0;
    border-bottom:1px solid $global-border-color;
    padding-left:30px;
    background:url(#{$icon-path}list-arrow.svg) no-repeat left center;
    &:last-child {
      border:0;
    }
  }
}
