/*
###Tables
  Description
```
Markup
```
*/
.#{$base-prefix}table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }
  td,th {
    padding: $global-padding;
  }
  td {
    border-top: 1px solid $global-border-color;
  }
  .typography & {
    margin-bottom: $global-margin;
  }
  @include breakpoints(max-width,small) {
		overflow-x: auto;
		display: block;
    width: 100%;
  }
}


.#{$base-prefix}table-bordered {
  @extend .#{$base-prefix}table;
  th {
    background-color:$color-blue;
    border:1px solid $color-blue;
    color:$color-white;
    font-weight:bold;
  }
  td,th {
    padding:$global-padding / 1.5;
  }
  td {
    border-right:1px solid $global-border-color;
    border-bottom:1px solid $global-border-color;
    &:first-child {
      border-left:1px solid $global-border-color;
    }
  }
}

.#{$base-prefix}table-responsive {
  overflow-x: scroll;
}

.#{$base-prefix}table-responsive--horizontal {
  vertical-align: top;
  max-width: 100%;
  width: 100%;

  overflow-x: auto;
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.#{$base-prefix}table-responsive--horizontal,
.#{$base-prefix}table-responsive--horizontal--flip tbody {
  -webkit-overflow-scrolling: touch;
}

// Flipped version. Add this class to table-responsive--horizontal

.#{$base-prefix}table-responsive--horizontal--flip {
  display: flex;
  overflow: hidden;
}

.#{$base-prefix}table-responsive--horizontal--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.#{$base-prefix}table-responsive--horizontal--flip th {
  flex: 1;
}

.#{$base-prefix}table-responsive--horizontal--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
}

.#{$base-prefix}table-responsive--horizontal--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex: 1 0 auto;
}

.#{$base-prefix}table-responsive--horizontal--flip td,
.#{$base-prefix}table-responsive--horizontal--flip th {
  display: block;
}

.#{$base-prefix}table-responsive--horizontal--flip td {
  border-left: 0;
}

// border-collapse is no longer active
.#{$base-prefix}table-responsive--horizontal--flip th:not(:last-child),
.#{$base-prefix}table-responsive--horizontal--flip td:not(:last-child) {
  border-bottom: 0;
}
