///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

// Reset fonts for relevant elements
.#{$layout-prefix}body {
  @include responsive-font(3vw, $font-size-min, $font-size-base);
}

.#{$base-prefix}h1 {
  @include responsive-font(3vw, $h1-min, $h1-max);
}

.#{$base-prefix}h2 {
  @include responsive-font(3vw, $h2-min, $h2-max);
}

.#{$base-prefix}h3 {
  @include responsive-font(3vw, $h3-min, $h3-max);
}

.#{$base-prefix}h4 {
  @include responsive-font(3vw, $h4-min, $h4-max);
}

.#{$base-prefix}text-small {
  @include responsive-font(3vw, $font-size-small-min, $font-size-small);
}

.#{$base-prefix}text-bold {
  font-weight: $font-weight-bold;
}

.#{$base-prefix}lead {
  @include responsive-font(3vw, $h3-min, $h3-max);
}

.#{$base-prefix}h1,
.#{$base-prefix}h2,
.#{$base-prefix}h3,
.#{$base-prefix}h4 {
  margin:0;
  font-weight:600
}

.#{$base-prefix}typography {
  h1,h2,h3,h4,h5,h6 {
    font-weight:600;
    margin: 0 0 0.5rem;
  }
  h1 {
    @extend .#{$base-prefix}h1;
  }
  h2 {
    @extend .#{$base-prefix}h2;
  }
  h3 {
    @extend .#{$base-prefix}h3;
  }
  h4 {
    @extend .#{$base-prefix}h4;
  }
}

// Custom headings

.#{$base-prefix}heading-bordered {
	padding-bottom:$global-padding / 2;
  border-bottom: 1px solid $global-border-color;
}

.#{$base-prefix}heading-striked {
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		border-top: 1px solid #d6d6d6;
		top: 50%;
		margin-left: 10px;
	}
}

.#{$base-prefix}heading-area {
  margin:1.4rem 0 0.3rem 0;
  padding-bottom:0.5rem;
  text-transform: uppercase;
  border-bottom:1px solid $global-border-color;
}

.#{$base-prefix}heading-content {
  margin:0 0 0.5rem 0;
  @include responsive-font(3vw, 30px, 36px);
}

.#{$base-prefix}link {
  color:$color-blue;
  cursor:pointer;
}

.#{$base-prefix}blockquote {
  margin: 0 0 $global-margin 0;
  padding: $global-padding $global-padding $global-padding $global-padding * 2;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: $global-padding;
    content: "";
    background-image: url(#{$icon-path}quotes.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.#{$base-prefix}inline-quote {
  display: inline-block;
  &:before {
    content:"\02014 \0020";
  }
}

.#{$base-prefix}text-collapse {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 65px;
    background: linear-gradient(rgba(0,0,0,0),$color-white);
  }
}

.#{$base-prefix}text-collapse-content {
  max-height: 65px;
  overflow-y: hidden;
}

.#{$base-prefix}text-collapse--visible {
  &:after {
    background: none;
  }
  .#{$base-prefix}text-collapse-content {
    max-height: none;
    overflow-y: auto;
  }
}

.#{$base-prefix}text-collapse--dark {
  background: linear-gradient(rgba(0,0,0,0),$color-black);
}

.#{$base-prefix}text-collapse-toggler {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0px;
  z-index: 99;
  cursor: pointer;
  border-radius: $global-circle;
  background: $color-white url(#{$icon-path}arrow-down.svg) no-repeat center center;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}
