///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

.app {
  font-size: 62.5%;
  /* Makes rem units like pixels e.g 2.4rem = 24px */
}

// Reset fonts for relevant elements
.#{$layout-prefix}body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.#{$base-prefix}h1 {
  font-size: $h1;
}

.#{$base-prefix}h2 {
  font-size: $h2;
}

.#{$base-prefix}h3 {
  font-size: $h3;
}

.#{$base-prefix}h4 {
  font-size: $h4;
}

.#{$base-prefix}text-small {
  font-size: $font-size-small;
}

.#{$base-prefix}text-bold {
  font-weight: $font-weight-bold;
}

.#{$base-prefix}text-ui {
  font-weight: $font-weight-bold;
  line-height: 1;
}

.#{$base-prefix}lead {
  font-size: $h4;
}

.#{$base-prefix}h1,
.#{$base-prefix}h2,
.#{$base-prefix}h3,
.#{$base-prefix}h4 {
  margin: 0;
  font-weight: 600
}

.#{$base-prefix}typography {
  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin: 0 0 1rem;
  }
  h1 {
    @extend .#{$base-prefix}h1;
  }
  h2 {
    @extend .#{$base-prefix}h2;
  }
  h3 {
    @extend .#{$base-prefix}h3;
  }
  h4 {
    @extend .#{$base-prefix}h4;
  }
}

// Custom headings

.#{$base-prefix}heading-bordered {
	padding-bottom: $global-padding / 2;
  border-bottom: 1px solid $global-border-color;
}

.#{$base-prefix}heading-striked {
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		border-top: 1px solid #d6d6d6;
		top: 50%;
		margin-left: 10px;
	}
}

.#{$base-prefix}link {
  color: $color-blue;
  cursor: pointer;
}

.#{$base-prefix}blockquote {
  margin: 0 0 $global-margin 0;
  padding: $global-padding $global-padding $global-padding $global-padding * 2;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: $global-padding;
    content: "";
    background-image: url(#{$icon-path}quotes.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.#{$base-prefix}inline-quote {
  display: inline-block;
  &:before {
    content:"\02014 \0020";
  }
}